.page {
    margin: 0 auto;
    width: 1000px;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;

    background-color: #eeeeee;
    border: 1px solid red;
    text-align: center;
    padding: 2em 2em 2em 2em;
}

h1,
h2,
h3,
p,
ul,
header,
footer {
    background-color: lightpink;
    border: 1px solid red;
    padding: 2em 2em 2em 2em;
    width: 400px;
    box-sizing: border-box;
}
