body {
    background-color: #eeeeee;
    border: 1px solid red;
    text-align: center;
    margin-bottom: 2em;
    padding: 2em 2em 2em 2em; 
}

h1,h2,h3,p,ul,header,span {
    background-color: lightpink;
    border: 1px solid red;
    padding: 2em 2em 2em 2em;
    width: 400px;
    box-sizing: border-box;
}

